<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <div class="d-flex align-items-center">
          <img src="https://www.pngarts.com/files/16/FB-Logo-White-PNG.png" width="40" height="40" class="d-inline-block align-top" alt="Logo">
          <h1 class="mb-0 ml-2">Gestión de Tareas</h1>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" (click)="goToListTask()">Lista de tareas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="goToAddTask()">Añadir tarea</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Sobre Nosotros</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  